# Postgres root
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=postgres

# Per-service DBs
ORCHESTRATOR_DB_USER=orchestrator
ORCHESTRATOR_DB_PASSWORD=orchestrator_pw
CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=catalog_pw
APPROVAL_DB_USER=approval
APPROVAL_DB_PASSWORD=approval_pw
PROVISIONING_DB_USER=provisioning
PROVISIONING_DB_PASSWORD=provisioning_pw

# RabbitMQ
RABBITMQ_USER=cloudops
RABBITMQ_PASSWORD=cloudops_pw

# MongoDB
MONGO_USER=audit
MONGO_PASSWORD=audit_pw
